body {
    background: linear-gradient(150deg, rgb(20, 23, 29), rgb(3, 11, 17));
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 100vh;
}
.calculator {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    background: linear-gradient(150deg, rgb(20, 23, 29), rgb(3, 11, 17));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgb(32, 32, 32), -5px 5px 16px rgb(39, 39, 39);
    box-shadow: 2px 2px 10px lightseagreen;
    color: lightseagreen;
    border: 1px solid lightseagreen;

}
.display {
    width: 100%;
    height: 80px;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    color: white;
    border: 0px solid lightseagreen;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgb(53, 73, 79) inset;
}
.buttons {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.button {
    transition: 0.5s ease;
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    background-color: rgb(19, 17, 17);
    color: white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: none;
    box-shadow: 2px 2px 10px lightseagreen;
}
.button:hover {
    box-shadow: 1px 1px 5px lightseagreen inset;
}
.operator {
    color: #40e0d0df;
}
.scientific-buttons {
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.scientific-buttons button {
    color: lightseagreen;
    padding: 0px;
}
.clear {
    background-color: rgb(85, 85, 85);
    border: none;
    box-shadow: none;
}
.clear:hover {
    background-color: rgb(19, 17, 17);
    box-shadow: 1px 1px 5px lightseagreen inset;
}
.eq {
    border: none;
    box-shadow: none;
    box-shadow: 1px 1px 50px lightseagreen inset;
    transition: 0.5s;
}
.eq:hover {
    border: none;
    box-shadow: none;
    box-shadow: 1px 1px 5px lightseagreen inset;
}
#sc {
    height: 40px;
    width: fit-content;
    border-radius: 10px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 50px lightseagreen inset;
}
#sc:hover {
    transition: 0.3s ease;
    background-color: rgb(19, 17, 17);
    box-shadow: none;
    border: 1px solid lightseagreen;
}